In [33]:
import pandas as pd
import numpy as np

In [36]:
file = "budget_data.csv"
df = pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [35]:
df["Date"] = pd.to_datetime(df["Date"])
x = df["Date"].min()
y = df["Date"].max()
total_time = (y - x)/np.timedelta64(1, 'M')
total_time

85.0284400090351

In [39]:
# profit and losses over the course of the data
profit = df["Profit/Losses"].sum()
profit

38382578

In [40]:
# average profit per month
avg_profit = profit / total_time
avg_profit

451408.7050864567

In [41]:
max_profit = df.loc[df["Profit/Losses"].idxmax()]
max_profit

Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object

In [43]:
min_profit = df.loc[df["Profit/Losses"].idxmin()]
min_profit

Date             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [48]:
#print info
print("Total months:" + str(total_time),
      "Total:" + str(profit),
      "AVerage Change:" + str(avg_profit),
      "Greatest Increase in profits:" + str(max_profit),
      "Greatest Decrease in profits" + str(min_profit), sep="\n")

Total months:85.0284400090351
Total:38382578
AVerage Change:451408.7050864567
Greatest Increase in profits:Date             Feb-2012
Profit/Losses     1170593
Name: 25, dtype: object
Greatest Decrease in profitsDate             Sep-2013
Profit/Losses    -1196225
Name: 44, dtype: object

In [56]:
text_file = open("output.txt", "w")
text_file.write("Total months: {total_time} Total: {profit} \n Average Change: {avg_profit} \n Greatest Increase in profits: {max_profit} \n Greatest Decrease in profits {min_profit}")
text_file.close()